<div class="sidenav">
    <b><a href="/">Home</a></b>

    <button class="dropdown-btn"><b>Reddit</b>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="/reddit/posts_per_day">Posts per day</a>
      <a href="/reddit/posts_per_day_pol">Posts per day r/politics</a>
      <a href="/reddit/posts_per_subreddit">Posts per subreddit</a>
    </div>

    <button class="dropdown-btn"><b>4chan</b>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="/4chan/posts_per_day">Posts per day</a>
      <a href="/4chan/posts_per_day_pol">Posts per day in politics</a>
      <a href="/4chan/engagement_vs_toxicity">Engagement vs toxicity</a>
      
    </div>

    <button class="dropdown-btn"><b>Inter platform </b>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="/inter_platform/posts_per_day">Posts per day</a>
      <a href="/inter_platform/posts_per_day_pol">Posts per day in Politics</a>
      <a href="/inter_platform/toxicity_by_platform">Toxicity by platform</a>
    </div>
  </div>